<p id="notice"><%= notice %></p>
<div class="container">

<<<<<<< HEAD
<h1>Listing Input Streams</h1>

posture is <%= @posture %>

=======
<%= @message %>
<%= image_tag("#{@posture}.png", :style => "border:1px; width:300px; height:500px; left-margin:40%")%>

</div>  
>>>>>>> 39f1710904712db885803a0274fe83298cb47e1f
