nav ul {
	margin: 15px !important;
}

body.sessions.new{
	background: url('/assets/postchair2.jpg') no-repeat;
	background-size: 100% auto;
  color: white;
}
.boxed {
  border-radius: 25px;
  display: table-cell;
  color:white;
  vertical-align: middle;
  text-align: center;
  width:250px;
  height:250px;
  opacity:0.5;
}

.boxed1 {
  border-radius: 25px;
  display: table-cell;
  color:white;
  vertical-align: middle;
  text-align: center;
  width:230px;
  height:230px;
  background-color:blue;
  opacity:0.5;
}

.boxed2 {
  border-radius: 25px;
  display: table-cell;
  color:white;
  vertical-align: middle;
  text-align: center;
  background-color:purple;
  opacity:0.5;
  width:230px;
  height:230px;
}


.boxed3 {
  border-radius: 25px;
  background-color: green;
  color:white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity:0.5;
  width:230px;
  height:230px;
}