<!DOCTYPE html>
<html>
<head>
  <title>PostChair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="blue lighten-1">
  <div class="nav-wrapper container">
    <a href="home.html">Home</a>

    <!-- navigation options go here -->

  </div>
</nav>

	<%= yield %>


</body>
</html>
