<!DOCTYPE html>
<html>
<head>
  <title>Postchair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<nav class="blue lighten-1">
  <div class="nav-wrapper container">
    <a href="home.html">Home</a>

    <!-- navigation options go here -->

  </div>
</nav>

<body>

<%= yield %>

</body>
</html>
